{% extends 'base.html.twig' %}
{% block body %}
    <div class="container col-md-6 mt-5">
        <h1>Créer une vente</h1>
        {{ form_start(form) }}
        {{ form_row(form.title) }}
        {{ form_row(form.description) }}
        {{ form_row(form.price) }}
        {{ form_row(form.isbn) }}
        {{ form_row(form.stock) }}
        {{ form_row(form.page) }}
        {{ form_row(form.width) }}
        {{ form_row(form.height) }}
        {{ form_row(form.new) }}
            <button type="submit" class="btn btn-primary mt-3">Enregistrer</button>
        {{ form_end(form) }}
    </div>
{% endblock %}